@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

.login {
  @include flex(center, start);
  flex-direction: column;
  height: 932px;
  padding-top: 2rem;
  &__CTAs {
    @include flex(center, space-between);
    flex-direction: column;
    height: 8rem;
    margin-top: 1.5rem;
  }
}

.title {
  @include flex(start, space-between);
  width: 85%;
  padding: $padding-m $padding-s;
  &__text {
    @include flex(end, space-between);
    flex-direction: column;
    width: 10rem;
    height: 9rem;
    text-align: right;
  }
}
