@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

.overview {
  @include flex();
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 13rem;

  &__title {
    @include flex(center, start);
    padding: $padding-xs;
    width: 90%;
    color: $color-primary-slate-grey;
  }

  &__CTAs {
    @include flex(center, space-between);
    flex-direction: column;
    width: 100%;
    height: 30rem;
    position: relative;
    z-index: 10;
  }
}
