@use "../../styles/partials/__variables" as *;
@use "../../styles/partials/__mixins" as *;
@use "../../styles/partials/__utils" as *;

.daily-log {
  @include flex();
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 13rem;
}
