@use "./styles/partials/__variables.scss" as *;
@use "./styles/partials/__mixins.scss" as *;

/* -------------------------------------------------------------------------- */
/*                             Fixed Size Container                           */
/* -------------------------------------------------------------------------- */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
  @include flex();
}

.App {
  width: 430px;
  height: auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: $color-primary-parchment;
  background: linear-gradient(
    187deg,
    #f7f2ec -0.86%,
    #f1efec 74.29%,
    #e7dede 102.8%
  );
  // padding-top: 4rem;

  //   &.daily-log-height {
  //     overflow: scroll;
  //     height: 4000px;
  //   }
  //   //   position: relative;

  //   &.overview-month-height {
  //     height: 200%;
  //     // overflow: visible;
  //   }
}

/* -------------------------------------------------------------------------- */
/*                             Mobile First Design                            */
/* -------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                              Transition Styles                             */
/* -------------------------------------------------------------------------- */

/* General transitions */
* {
  transition: all 0.11s ease-in-out;
}

/* -------------------------------------------------------------------------- */
/*                                 Text Styles                                */
/* -------------------------------------------------------------------------- */

a {
  text-decoration: none;
  color: $color-primary-off-white;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

// these text styles automatically add the correct specs from the variables.scss file

h1 {
  margin: 0;
  @each $property, $value in $header-one {
    #{$property}: $value;
  }
}

h2 {
  @each $property, $value in $header-two {
    #{$property}: $value;
  }
}

h3 {
  @each $property, $value in $header-three {
    #{$property}: $value;
  }
}

h4 {
  @each $property, $value in $header-four {
    #{$property}: $value;
  }
}

h5 {
  @each $property, $value in $header-five {
    #{$property}: $value;
  }
}

p {
  @each $property, $value in $body {
    #{$property}: $value;
  }
}
